
# Data Files:
*.stl
*.png
*.tiff
*.jpg
*.png
*.jpeg
*.bmp 

# PyTorch Files
*.tfrecord

#Bulk compressed files
*.tar
*.zip
*.tgz
*.tar.gz

# Model Files
*.mat
*.pth
*.pt

#folders bec im lazy
__pycache__
new_model
wandb
venv
nyu_data
nyu_runs

#Turing Files
*.err
*.out